<p>Test Form</p>
@using (Html.BeginForm("AvailableArea", "Test"))
{
    <fieldset>
    Location Id : <input type="text" name="inputId"><br>
    Customer Id : <input type="text" name="custId"><br>
    Car Id : <input type="text" name="carId"><br><br>
    Start : <input type="date" name="instart"><input type="number" name="instarthour"><input type="number" name="instartminute"><br>
    End : <input type="date" name="inend"><input type="number" name="inendhour"><input type="number" name="inendminute"><br>
    </fieldset>


    <input type="submit" value="Test" />
}
<div id="divResult"></div>